@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

:root {
  --dark-blue: #3e3d89;
  --light-blue: #7588ff;
  --white: #fff;
  --green: #228b22;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--white);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
}

.container {
  padding: 50px 7%;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  padding: 15px 20px;
  background: var(--light-blue);
  color: var(--white);
  border-radius: 14px;
}

.btn:hover {
  background: rgb(65, 163, 97);
}

.logo a {
  font-size: 30px;
  font-weight: 800;
  line-height: 1.5;
  color: var(--light-blue);
}

.nav-link a {
  margin-right: 30px;
  font-weight: 500;
  font-size: 20px;
}

.nav-link a:hover {
  color: var(--dark-blue);
}

.left h1 {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 30px;
  cursor: default;
}

.left h1 span {
  color: var(--light-blue);
}

.left p {
  line-height: 1.2;
  font-size: 20px;
  margin-bottom: 50px;
  cursor:default ;
}

.left p span {
  color: var(--green);
}
